<div class="content">
  <div class="header">
    <h1>Kanban-Board</h1>
  </div>

  <div class="kanban-position">
    <div class="section">
      <span class="section-title">
        ToDo
        <button type="button" class="btn btn-primary">+</button>
    </span>
      <div class="section-parent">
        <div class="section-child">

        </div>
      </div>
    </div>
    <div class="section">
      <span class="section-title">
        Doin
        <button type="button" class="btn btn-primary">+</button>
    </span>
      <div class="section-parent">
        <div class="section-child">

        </div>
      </div>
    </div>
    <div class="section">
      <span class="section-title">
        Feedback
        <button type="button" class="btn btn-primary">+</button>

    </span>
      <div class="section-parent">
        <div class="section-child">

        </div>
      </div>
    </div>
    <div class="section">
      <span class="section-title">
        Done
        <button type="button" class="btn btn-primary" style="visibility: hidden">+</button>
    </span>
      <div class="section-parent">
        <div class="section-child">

        </div>
      </div>
    </div>
  </div>
</div>
